server:
  port: 8082

spring:
  application:
    name: accounts-service
  datasource:
    url: jdbc:postgresql://localhost:5432/accounts_db
    username: uwm_user
    password: uwm_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

rabbitmq:
  exchange: accounts.exchange
  routing-key: auth.queue
