# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
**/target/
**/node_modules/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Idea and Vscode
**/.idea

scgm-containers-api/src/main/resources/containers_data.sql
scgm-containers-api/src/main/resources/containers_id_list.json
scgm-containers-data-simulator/node_modules
scgm-web-app/frontend-integration/node_modules