## Configuration for Eureka
eureka:
  client:
    enabled: false
    registerWithEureka: true
    fetchRegistry: true
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true # For local development. Set to false if you want to use the hostname in a DNS-enabled environment
    hostname: ${HOSTNAME:localhost}

## Configuration for App name and Spring Data
spring:
  application:
    name: @project.artifactId@
    description: @project.description@
    version: @project.version@
  datasource:
    url: jdbc:h2:mem:scgm_customers_db
    driver-class-name: org.h2.Driver
    username: sa
    password: password
    continue-on-error: true
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
  sql:
    init:
      mode: always
      schema-locations: classpath:/schema.sql
      data-locations: classpath:/data.sql

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

## Instance port
server:
  port: ${PORT:8182}

management:
  endpoints:
    web:
      exposure:
        include:
          - '*'
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
      show-components: always
  info:
    java:
      enabled: true
    git:
      enabled: true
      mode: simple
    build:
      enabled: true
